.App {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 930px;
  background: transparent radial-gradient(closest-side at 50% 50%, #58687E 0%, #39495E 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}
